<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>5XX错误</title>
</head>
<body>
<div class="row-fluid">

    <div class="span12 page-500">

        <div class=" number">

            500

        </div>

        <div class=" details">

            <h3>抱歉，出了点问题。</h3>

            <p>Time:[[${timestamp}]] </p>
            <p style="color:red;">Status:[[${status}]] </p>
            <p>Message:[[${message}]] </p>
            <p>Exception:[[${exception}]] </p>
            <p>Error:[[${error}]] </p>
            <p th:text="${session.token}"> </p>
            <p>Company:[[${company}]] </p>

        </div>

    </div>

</div>
</body>
</html>