<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--[if IE 8]> <html lang="en" class="ie8 no-js" > <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->

<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head th:replace="html/public :: #top_css_common">

	<meta charset="utf-8" />

	<title>任务管理系统</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->

</head>

	<meta charset="utf-8" />

	<title>任务管理系统</title>



</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="page-header-fixed">

	<!-- BEGIN HEADER -->

	<div th:replace="html/public :: #top_dh_common">

	</div>
	<!-- END HEADER -->
    
	<!-- BEGIN CONTAINER -->

	<div class="page-container row-fluid">

		<!-- BEGIN SIDEBAR -->

		<div th:replace="html/public :: #left_menu_common(activeOne = 'main',activeTwo ='',activeThree = '')">

		</div>
		<!-- END SIDEBAR -->

		<!-- BEGIN PAGE -->

		<div class="page-content">

			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			

			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

			<!-- BEGIN PAGE CONTAINER-->

			<div class="container-fluid">

				<!-- BEGIN PAGE HEADER-->
				<!--填写头部信息-->
				<div class="row-fluid">

					<div class="span12">

						<!-- BEGIN STYLE CUSTOMIZER -->

<!--						<div th:replace="html/public :: #main_color_common"></div>-->
						<!-- END BEGIN STYLE CUSTOMIZER -->    

						<!-- BEGIN PAGE TITLE & BREADCRUMB-->

						<h3 class="page-title">

							主页 <small>信息</small>

						</h3>

						<ul class="breadcrumb">

							<li>

								<i class="icon-home"></i>

								<a href="#" th:href="@{/webAdmin/goIndex}">主页</a>

								<i class="icon-angle-right"></i>

							</li>

							<li><a href="#">主页</a></li>

							
						</ul>

						
					</div>

				</div>

				
				
			</div>

			<!-- END PAGE CONTAINER-->

			<!-- 可以编写其他信息-->
			<div class="row-fluid">

				<div class="span12">


				<div class="row-fluid">
					<div class="span12"></div>
				</div>
				</div>
			</div>
		</div>

		<!-- END PAGE -->

	</div>

	<!-- END CONTAINER -->

	<!-- BEGIN FOOTER -->
	<div th:replace="html/public :: #down_dh_common"></div>


	<div th:replace="html/public :: #js_down_common">

	</div>
	<script src="media/js/app.js" th:src="@{/media/js/app.js}" type="text/javascript"></script>

	<script src="media/js/index.js" th:src="@{/media/js/index.js}" type="text/javascript"></script>
	<script>

		jQuery(document).ready(function() {    

		   App.init(); // initlayout and core plugins

		   // Index.init();

		   // Index.initJQVMAP(); // init index page's custom scripts
		   //
		   // Index.initCalendar(); // init index page's custom scripts
		   //
		   // Index.initCharts(); // init index page's custom scripts
		   //
		   // Index.initChat();
		   //
		   // Index.initMiniCharts();

		   Index.initDashboardDaterange();

		   // Index.initIntro();

		});

	</script>

	<!-- END JAVASCRIPTS -->

</body>

<!-- END BODY -->

</html>